body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, Arial, Helvetica, sans-serif;
    text-align: justify;
    background-image: linear-gradient(white, #D0E4F2, #42628C, #182859 );
    background-attachment: fixed;
}

header {
    background-color: #182859;
    color: #D0E4F2;
    text-align: center;
    font-size: 1.5em;
    padding: 32px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #0D0D0D;

}

a {
    color: #D0E4F2;
    text-decoration: none;
}

.footlink {
    color: #0D0D0D;
}

.footlink:hover {
    color: #3866F2;
}

a:hover {
    color: #3866F2;
    text-decoration: underline;

}

nav {
    display: inline-block;
    margin: 1px;
    background-color: #42628C;
    padding: 5px;
    border-radius: 10px;
}

#menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #182859;
    color: #D0E4F2;
    padding: 15px;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #0D0D0D;
}

.code {
    size-adjust: inherit;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0D0D0D;
    height: min-content;
}

#logo {
    float: left;
}

#introducao {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 3px 5px 4px #42628C;
}

table {
    background-color: #0D0D0D;
    color: #D0E4F2;
    border: 2px solid #42628C;
    padding: 1px;
    width: 50%;
}

th, td {
    border: 2px solid #42628C;
    border-collapse: collapse;
}

thead {
    text-align: center;
}

#protocolos {
    background-color: #0D0D0D;
    color: #D0E4F2;
    width: 50%;
    padding: 2%;
}

#prot {
    text-align: center;
}

#tabelalista {
    margin-left: 10%;
    margin-right: 10%;
}

#linguagens {
    display: flex;
    height: inherit;
    margin-right: 10%;
    margin-left: 10%;
    color: #D0E4F2;
}

.ling {
    text-align: center;
}

#phtml {
    background-color: #182859;
    width: 33.33%;
    padding: 2.5%;
}

#htmllogo {
    height: 70px;
    width: 70px;
    float: left;
}

#pcss {
    background-color: #30478C;
    color: #D0E4F2;
    width: 33.33%;
    padding: 2.5%;
}

#csslogo {
    height: 70px;
    width: 70px;
    float: left;
}

#pjs {
    background-color: #42628C;
    color: #D0E4F2;
    width: 33.33%;
    padding: 2.5%;
}

#jslogo {
    height: 70px;
    width: 70px;
    float: left;
}

footer {
    display: flex;
    height: inherit;
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}

.grey {
    background-color: #9dacb6;
    width: 25%;
    padding: 0.5%;
}

.white {
    background-color: #b5c7d3;
    width: 25%;
    padding: 0.5%;
}

form {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 3px 5px 4px #42628C;
}

input, select, textarea {
    display: flexbox;
    align-items: center;
    border: 5px 5px 5px #182859;
    margin-left: 10%;
}

#obrigado {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 3px 5px 4px #42628C;
}

#homeobg {
    color: #30478C;
}